{% extends "base.html" %}
{% load static %}
{% block title %}درباره گوریلا{% endblock %}
{% block content %}
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/h2_hero.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>درباره ما
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!-- product list part start-->
<section class="about_us padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="about_us_content">
          <h5> چرا گوریلا ؟ 
          </h5>
          <h3>چون ما بهترین هارو ارائه میدیم
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->
<!-- feature part here -->
<section class="feature_part section_padding">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12">
        <div class="feature_part_tittle">
          <p>سلام و خوش آمدید به وبسایت گوریلا، مقصدی کامل برای همه علاقه‌مندان به بدنسازی و تناسب اندام!
          </p>
          <p>ما در گوریلا با افتخار مجموعه‌ای از بهترین مکمل‌های بدنسازی را ارائه می‌دهیم که به شما کمک می‌کند تا به اهداف ورزشی خود دست یابید. از پروتئین‌ها و آمینو اسیدها گرفته تا مکمل‌های چربی‌سوز و ویتامین‌ها، ما همه چیزهایی که برای بهبود عملکرد ورزشی و تسریع روند ریکاوری نیاز دارید را در اختیار شما قرار می‌دهیم.
          </p>
          <p> مشاوره تخصصی: تیم متخصص ما متشکل از مربیان حرفه‌ای و مشاوران تغذیه، آماده‌اند تا به شما در انتخاب مکمل مناسب کمک کنند. ما با توجه به نیازهای خاص شما، برنامه‌های شخصی‌سازی شده‌ای طراحی می‌کنیم.
          </p>
          <p> برنامه‌های آموزشی: ما برای هر سطح از ورزشکاران، از مبتدی تا حرفه‌ای، برنامه‌های آموزشی متناسب طراحی کرده‌ایم. با دنبال کردن این برنامه‌ها، می‌توانید به سرعت به اهداف خود برسید.
          </p>
          <p> باشگاه مدرن: باشگاه گوریلا به عنوان یک محیط حرفه‌ای و مدرن برای تمرینات ورزشی شما آماده است. با تجهیزات پیشرفته و فضای مناسب، می‌توانید تمرینات خود را با کیفیت بالا انجام دهید. همچنین، کلاس‌های گروهی متنوع از جمله زومبا، کراسفیت و یوگا نیز در دسترس شماست.
          </p>
          <p>کیفیت بالا: تمامی محصولات ما از برندهای معتبر و شناخته شده تهیه شده‌اند و تحت نظارت‌های دقیق کیفیت قرار دارند. ما به سلامت شما اهمیت می‌دهیم و تنها محصولاتی را ارائه می‌دهیم که از نظر علمی تأیید شده‌اند.
          </p>
          <p> تغذیه سالم: در کنار تمرینات ورزشی، تغذیه سالم نقش بسزایی در دستیابی به نتایج مطلوب دارد. ما راهنمایی‌های تغذیه‌ای جامع ارائه می‌دهیم که شامل رژیم‌های غذایی متناسب با اهداف شماست.
          </p>
          <p> تجربه آنلاین راحت: خرید آنلاین مکمل‌ها از وبسایت ما بسیار ساده و سریع است. شما می‌توانید به راحتی محصولات مورد نظر خود را انتخاب کنید و درب منزل دریافت کنید
          </p>
          <p>محیط دوستانه: ما در گوریلا به ایجاد یک جامعه دوستانه و حمایتی اهمیت می‌دهیم. در باشگاه ما، شما می‌توانید با سایر ورزشکاران ارتباط برقرار کنید و از تجربیات یکدیگر بهره‌مند شوید.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'assets/img/icon/feature_icon_1.svg' %}" alt="#">
          <h4>تجهیزات مدرن
          </h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'assets/img/icon/feature_icon_2.svg' %}" alt="#">
          <h4>برنامه تغذیه سالم
          </h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'assets/img/icon/feature_icon_3.svg' %}" alt="#">
          <h4>برنامه تمرینی حرفه ای
          </h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'assets/img/icon/feature_icon_4.svg' %}" alt="#">
          <h4>منحصر به فرد برای شما
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature part end -->
<!-- subscribe part here -->
{% include 'website/newsletter.html' %}
<!-- subscribe part end -->
{% endblock %}