{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>مکمل گوریلا | درباره ما</title>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

 <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="{% url 'website:index' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'website:about' %}">درباره ما</a></li>
                <li><a href="{% url 'shop:shop' %}">فروشگاه</a></li>
                <li><a href="{% url 'website:contact' %}">ارتباط با ما</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            {% if request.user.is_authenticated %}
            <a href="#"><i class="fa fa-user-circle-o"></i></a>
            <a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i></a>
            {% else %}
            <a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in"></i></a>
            {% endif %}
            <a href="#"><i class="fa fa-cart-plus"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="{% url 'website:index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" width="150" height="100">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="{% url 'website:index' %}">صفحه اصلی</a></li>
                            <li class="active"><a href="{% url 'website:about' %}">درباره ما</a></li>
                            <li><a href="{% url 'shop:shop' %}">فروشگاه</a></li>
                            <li><a href="{% url 'website:contact' %}">ارتباط با ما</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            {% if request.user.is_authenticated %}
                            <a href="#"><i class="fa fa-user-circle-o"></i></a>
                            <a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i></a>
                            {% else %}
                            <a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in"></i></a>
                            {% endif %}
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>درباره ما</h2>
                        <div class="bt-option">
                            <a href="{% url 'website:index' %}">صفحه اصلی</a>
                            <span>گوریلا</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
<!--================ Cart Area =================-->
  <section class="cart_area spad">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- Example Row -->
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/classes/class-1.jpg" alt="product" style="width:80px; border-radius:6px;">
                    </div>
                    <div class="media-body">
                      <p>Weightlifting Class</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>$39.00</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement"> <i class="fa fa-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="fa fa-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>$39.00</h5>
                </td>
              </tr>

              <!-- Update/Apply Coupon -->
              <tr class="bottom_button">
                <td>
                  <a class="primary-btn btn-sm" href="#">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="primary-btn btn-sm" href="#">Apply Coupon</a>
                  </div>
                </td>
              </tr>

              <!-- Subtotal -->
              <tr>
                <td></td>
                <td></td>
                <td><h5>Subtotal</h5></td>
                <td><h5>$39.00</h5></td>
              </tr>

              <!-- Shipping -->
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td><h5>Shipping</h5></td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>Flat Rate: $5.00 <input type="radio" name="shipping"></li>
                      <li>Free Shipping <input type="radio" name="shipping"></li>
                      <li>Local Delivery: $2.00 <input type="radio" name="shipping"></li>
                    </ul>
                    <h6>Calculate Shipping <i class="fa fa-caret-down"></i></h6>
                    <select class="shipping_select">
                      <option value="1">USA</option>
                      <option value="2">Canada</option>
                      <option value="3">UK</option>
                    </select>
                    <select class="shipping_select">
                      <option value="1">Select a State</option>
                    </select>
                    <input class="post_code" type="text" placeholder="Postcode/Zipcode">
                    <a class="primary-btn btn-sm" href="#">Update Details</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Checkout Buttons -->
          <div class="checkout_btn_inner float-right">
            <a class="primary-btn btn-sm" href="classes.html">Continue Shopping</a>
            <a class="primary-btn btn-sm checkout_btn_1" href="checkout.html">Proceed to Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Cart Area =================-->
    {% include "website/gettouch.html" %}

    {% include "website/footer.html" %}

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>