{% extends 'base.html' %}
{% load static %}
{% block title %}
  ورود به فروشگاه اینترنتی مکمل گوریلا
{% endblock %}
{% block content %}
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">ورود</h1>
        <nav class="breadcrumbs">
          <ol>
            <li>
              <a href="{% url 'website:index' %}">صفحه اصلی</a>
            </li>
            <li class="current">ورود</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->

    <!-- Login Section -->
    <section id="login" class="login section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="auth-container" data-aos="fade-in" data-aos-delay="200">
              <!-- Login Form -->
              <div class="auth-form login-form active">
                <div class="form-header">
                  <h3>خوش آمدید</h3>
                  <p>وارد حساب کاربری خود شوید</p>
                </div>

                <form class="auth-form-content" method="post">
                  {% csrf_token %}
                  <!-- Display non-field errors (like wrong email/password) -->
                  {% if form.non_field_errors %}
                    <div class="col-md-12 mb-2">
                      {% for error in form.non_field_errors %}
                        <small class="text-danger">{{ error }}</small>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="input-group mb-3">
                    <span class="input-icon"><i class="bi bi-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل" required="" autocomplete="email" />
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-icon"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور" required="" autocomplete="current-password" /><br />
                  </div>

                  <div class="form-options mb-4">
                    <div class="remember-me">
                      <input type="checkbox" id="rememberLogin" />
                      <label for="rememberLogin">مرا به خاطر بسپار</label>
                    </div>
                    <a href="{% url 'accounts:password_reset' %}" class="forgot-password">رمز عبور را فراموش کرده‌اید؟</a>
                  </div>

                  <button type="submit" class="auth-btn primary-btn mb-3">
                    ورود
                    <i class="bi bi-arrow-right"></i>
                  </button>

                  <div class="divider">
                    <span>یا</span>
                  </div>

                  <a href="{% url 'social:begin' 'google-oauth2' %}" class="auth-btn social-btn">
                      <i class="bi bi-google"></i>
                      ادامه با گوگل
                  </a>

                  <div class="switch-form">
                    <span>حساب کاربری ندارید؟</span>
                    <a href="{% url 'accounts:register' %}">ایجاد حساب کاربری</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Login Section -->
  </main>
{% endblock %}
