{% extends "base.html" %}
{% load static %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
{% load humanize %}
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/h2_hero.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>{{post.title}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post">
          <div class="feature-img">
            <img class="img-fluid" src="{{ post.image.url }}" alt="">
          </div>
          <div class="blog_details">
            <h2>{{post.title}}
            </h2>
            <ul class="blog-info-link mt-3 mb-4">
              <li>
                <a href="{% url 'blog:post-list' %}?author={{ post.author.profile.first_name }}"><i class="fa fa-user">
                  </i> {{post.author.profile.first_name}}</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comments">
                  </i> {{post.comments.count}} کامنت</a>
              </li>
            </ul>
            <p class="excert">{{ post.content }}
            </p>
          </div>
        </div>
        <div class="blog-author">
          <div class="media align-items-center">
            <img src="{% static 'assets/img/blog/author.png' %}" alt="">
            <div class="media-body">
              <a href="#">
                <h4>{{ post.author.profile.first_name }}
                </h4>
              </a>
              <p>{{ post.author.profile.bio }}
              </p>
            </div>
          </div>
        </div>
        <div class="comments-area">
          <h4>{{ comments.count }} کامنت 
          </h4>
          {% for comment in comments %}
          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb">
                  <img src="{% static 'img/comment/comment_1.png' %}" alt="">
                </div>
                <div class="desc">
                  <p class="comment">{{ comment.comment }}
                  </p>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5>
                        <a href="#">{{ comment.name }}</a>
                      </h5>
                      <p class="date">{{ comment.created_at|naturaltime }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="comment-form">
          <form class="form-contact comment_form" action="." method="POST" id="commentForm">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                            placeholder="متن پیام"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" placeholder="نام و نام خانوادگی">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder="ایمیل">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="website" id="website" type="text" placeholder="وبسایت">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="button button-contactForm btn_1 boxed-btn">ارسال پیام</button>
            </div>
          </form>
        </div> 
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          {% include "blog/blog_search.html" %}
          {% include "blog/blog_tags.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Blog Area end =================-->
{% endblock %}
