{% extends 'base.html' %}
{% load static %}
{% block title %}
  لیست محصولات فروشگاه اینترنتی مکمل گوریلا
{% endblock %}
{% block content %}
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">فروشگاه</h1>
        <nav class="breadcrumbs">
          <ol>
            <li>
              <a href="{% url 'website:index' %}">صفحه اصلی</a>
            </li>
            <li class="current">لیست محصولات</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->

    <div class="container">
      <div class="row">
        <div class="col-lg-4 sidebar">
          <div class="widgets-container">
            <!-- Product Filter -->
            <form action="." method="get">
              <div class="product-categories-widget widget-item">
                <h3 class="widget-title">دسته بندی ها</h3>
                <ul class="category-tree list-unstyled mb-0">
                  {% for category in categories %}
                    <li class="category-item">
                      <div class="d-flex justify-content-between align-items-center category-header">
                        <label value="{{ category.id }}" class="category-link" for="category-{{ category.id }}">{{ category.name }}</label>
                        <input class="form-check-input" type="checkbox" name="category_id" value="{{ category.id }}" id="category-{{ category.id }}" />
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="pricing-range-widget widget-item">
                <h3 class="widget-title">محدوده قیمت</h3>
                <div class="price-range-container">
                  <div class="current-range mb-3">
                    تا
                    <span class="max-price">{{ request.GET.max_price|default:1000 }}تومان</span>
                    <span class="min-price float-end">{{ request.GET.min_price|default:0 }}تومان</span>
                  </div>
                  <div class="price-inputs mt-3">
                    <div class="row g-2">
                      <div class="col-6">
                        <div class="input-group input-group-sm">
                          <span class="input-group-text">تومان</span>
                          <input type="number" name="min_price" class="form-control min-price-input" placeholder="کمترین قیمت مد نظر" min="0" max="1000000" value="0" step="10" />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="input-group input-group-sm">
                          <span class="input-group-text">تومان</span>
                          <input type="number" name="max_price" class="form-control max-price-input" placeholder="بیشترین قیمت مد نظر" min="0" max="10000000" value="500000" step="10" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="brand-filter-widget widget-item">
                <h3 class="widget-title">فیلتر بر اساس برند</h3>
                <div class="brand-filter-content">
                  <div class="brand-list">
                    <div class="brand-item">
                      {% for brand in brands %}
                        <div class="form-check">
                          <label class="form-check-label" for="brand-{{ brand.id }}">
                            {{ brand.name }}
                            <span class="brand-count">({{ brand.products.count }})</span>
                          </label>
                          <input class="form-check-input" type="checkbox" name="brand_id" value="{{ brand.id }}" id="brand-{{ brand.id }}" />
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="brand-filter-widget">
                <div class="brand-filter-content">
                  <div class="brand-actions">
                    <button class="btn btn-sm btn-outline-primary">اعمال فیلتر</button>
                    <a href="{% url 'shop:product-list' %}" class="btn btn-sm btn-link">پاک کردن همه</a>
                  </div>
                </div>
              </div>
            </form>

            <!-- /Brand Filter Widget -->
          </div>
        </div>

        <div class="col-lg-8">
          <!-- Category Header Section -->
          <section id="category-header" class="category-header section">
            <div class="container" data-aos="fade-up">
              <!-- Filter and Sort Options -->
              <div class="filter-container mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="row g-3">
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="filter-item search-form">
                      <label for="productSearch" class="form-label">جستجوی محصولات</label>
                      <form method="GET" action="">
                        <div class="input-group">
                          <input type="text" class="form-control" id="productSearch" placeholder=" جستجوی محصولات ..." aria-label="Search for products" name="q" /> <button class="btn search-btn" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-2">
                    <div class="filter-item">
                      <label for="sortBy" class="form-label">مرتب سازی</label>
                      <select class="form-select" id="sortBy">
                        <option value="-created_at">جدیدترین ها</option>
                        <option value="price">قیمت: از کم تا زیاد</option>
                        <option value="-price">قیمت: از زیاد تا کم</option>
                        <option value="-rating">رتبه بندی مشتریان</option>
                        <option value="especial">ویژه</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="filter-item">
                      <label class="form-label">مشاهده</label>
                      <div class="d-flex align-items-center">
                        <div class="view-options me-3">
                          <button type="button" class="btn view-btn active" data-view="grid" aria-label="Grid view"><i class="bi bi-grid-3x3-gap-fill"></i></button>
                        </div>
                        <div class="items-per-page">
                          <select class="form-select" id="itemsPerPage" aria-label="Items per page">
                            <option value="12">12 عددی</option>
                            <option value="24">24 عددی</option>
                            <option value="48">48 عددی</option>
                            <option value="96">96 عددی</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="active-filters">
                      <div class="filter-tags">
                        <a href="{% url 'shop:product-list' %}" class="clear-all-btn">پاک کردن همه</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /Category Header Section -->

          <!-- Category Product List Section -->
          <section id="category-product-list" class="category-product-list section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div class="row g-4">
                <!-- Product 1 -->
                {% for product in products %}
                  <div class="col-6 col-xl-4">
                    <div class="product-card" data-aos="zoom-in">
                      <div class="product-image">
                        <img src="{{ product.image.url }}" class="main-image img-fluid" alt="{{ product.name }}" loading="lazy"/>
                        <img src="{{ product.hologram.url }}" class="hover-image img-fluid" alt="{{ product.name }}" loading="lazy"/>
                        <div class="product-overlay">
                          <div class="product-actions">
                            <button type="button" class="action-btn" data-bs-toggle="tooltip"><a href="{{ product.get_absolute_url }}" type="button" class="action-btn" data-bs-toggle="tooltip"><i class="bi bi-eye"></i></a></button>
                            <button type="button" class="action-btn" data-bs-toggle="tooltip" title="Add to Cart"><i class="bi bi-cart-plus"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="product-details">
                        <h4 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                        <div class="product-category">{{ product.category.name }}</div>
                        <div class="product-category">{{ product.brand.name }}</div>
                        <div class="product-meta">
                          <div class="product-price">{{ product.get_price }}&nbsp;تومان</div>
                          <div class="product-rating">
                            <i class="bi bi-star-fill"></i>
                            {{ product.rating }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section>
          <!-- /Category Product List Section -->

          <!-- Category Pagination Section -->
          <section id="category-pagination" class="category-pagination section">
            <div class="container">
              <nav class="d-flex justify-content-center" aria-label="Page navigation">
                <ul>
                  {% if page_obj.has_previous %}
                    <li>
                      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">
                        <i class="bi bi-arrow-right"></i>
                        <span class="d-none d-sm-inline">قبلی</span>
                      </a>
                    </li>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li>
                        <a href="#" class="active">{{ num }}</a>
                      </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li>
                        <a href="?page={{ num }}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                    <li>
                      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">
                        <span class="d-none d-sm-inline">بعدی</span>
                        <i class="bi bi-arrow-left"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </section>
          <!-- /Category Pagination Section -->
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <script>
    // A $( document ).ready() block.
    $(document).ready(function () {
      let current_url_params = new URLSearchParams(window.location.search)
      $('#itemsPerPage').val(current_url_params.get('page_size') || '12')
      $('#productSearch').val(current_url_params.get('q') || '')
      $('#category_id').val(current_url_params.get('category_id') || '')
      $('#brand_id').val(current_url_params.get('brand_id') || '')
      $('#min_price').val(current_url_params.get('min_price') || '')
      $('#max_price').val(current_url_params.get('max_price') || '')
      $('#sortBy').val(current_url_params.get('order_by') || '-created_at')
    })
    $('#itemsPerPage').change(function () {
      let current_url_params = new URLSearchParams(window.location.search)
      var selectedOption = $(this).val()
      current_url_params.set('page_size', selectedOption)
      let new_url = window.location.pathname + '?' + current_url_params.toString()
      window.location.href = new_url
    })
    $('#sortBy').change(function () {
      let current_url_params = new URLSearchParams(window.location.search)
      var selectedOption = $(this).val()
      current_url_params.set('order_by', selectedOption)
      let new_url = window.location.pathname + '?' + current_url_params.toString()
      window.location.href = new_url
    })
  </script>
{% endblock %}
