<!-- Latest Products Start -->
<section class="latest-product-area padding-bottom">
  <div class="container">
    <div class="row product-btn d-flex justify-content-end align-items-end">
      <!-- Section Tittle -->
      <div class="col-xl-4 col-lg-5 col-md-5">
        <div class="section-tittle mb-30">
          <h3>جدیدترین محصولات
          </h3>
        </div>
      </div>
    </div>
    <!-- Nav Card -->
    <div class="tab-content" id="nav-tabContent">
      <!-- card one -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
          {% for product in products %}
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-product mb-60">
              <div class="product-img">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" wighet="300" height="300" >
              </div>
              <div class="product-caption">
                <h4>
                  {{ product.price }}
                </h4>
                <h4>
                  <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- End Nav Card -->
  </div>
</section>
<!-- Latest Products End -->
