<!-- Payment Method -->
<div class="checkout-section" id="payment-method">
  <div class="section-header">
    <div class="section-number">1</div>
    <h3>روش پرداخت</h3>
  </div>
  <div class="section-content">
    <div class="payment-options">
      <div class="payment-option active">
        <input type="radio" name="payment-method" id="credit-card" checked="" />
        <label for="credit-card">
          <span class="payment-icon"><i class="bi bi-credit-card-2-front"></i></span>
          <span class="payment-label">6219 8619 2157 4926</span>
        </label>
      </div>
      <div class="payment-option">
        <input type="radio" name="payment-method" id="paypal" />
        <label for="paypal">
          <span class="payment-icon"><i class="bi bi-credit-card-2-front"></i></span>
          <span class="payment-label">6219 8619 2157 4926</span>
        </label>
      </div>
      <div class="payment-option">
        <input type="radio" name="payment-method" id="apple-pay" />
        <label for="apple-pay">
          <span class="payment-icon"><i class="bi bi-credit-card-2-front"></i></span>
          <span class="payment-label">6219 8619 2157 4926</span>
        </label>
      </div>
    </div>

    <div class="payment-details" id="credit-card-details">
      <p class="payment-info">جعفر قبادی</p>
    </div>

    <div class="payment-details d-none" id="paypal-details">
      <p class="payment-info">جعفر</p>
    </div>

    <div class="payment-details d-none" id="apple-pay-details">
      <p class="payment-info">قبادی</p>
    </div>
  </div>
</div>
